
Project1/.vs/Project1/v16/.suo

Project1/.vs/Project1/v16/Browse.VC.db

Project1/.vs/Project1/v16/ipch/AutoPCH/b75c9c7f754c05f2/SELECTION SORT.ipch

Project1/Debug/Project1.ilk

Project1/Debug/Project1.pdb

Project1/Project1.sln

Project1/Project1/Debug/Project1.log

Project1/Project1/Debug/Project1.tlog/CL.command.1.tlog

*.tlog

Project1/Project1/Project1.vcxproj.user

*.vcxproj

*.pdb

*.idb

*.obj

*.filters

Project1/Debug/Project1.exe
