
Project1/.vs/Project1/v16/.suo

Project1/.vs/Project1/v16/Browse.VC.db

Project1/.vs/Project1/v16/ipch/AutoPCH/b75c9c7f754c05f2/SELECTION SORT.ipch

Project1/Debug/Project1.ilk

Project1/Debug/Project1.pdb

Project1/Project1.sln

Project1/Project1/Debug/Project1.log

Project1/Project1/Debug/Project1.tlog/CL.command.1.tlog

*.tlog

Project1/Project1/Project1.vcxproj.user

*.vcxproj

*.pdb

*.idb

*.obj

*.filters

Project1/Debug/Project1.exe

Alogorith_Ex/.idea/Alogorith_Ex.iml

*.xml



Alogorith_Ex/venv/Lib/site-packages/pip/_internal/distributions/__pycache__/wheel.cpython-38.pyc

*.pyc

*.exe

*.ps1

Alogorith_Ex/venv/Scripts/deactivate.bat

Alogorith_Ex/venv/Scripts/

*.cfg

*.tmpl

Alogorith_Ex/venv/Lib/site-packages/setuptools-54.2.0.dist-info/

*.pth

Alogorith_Ex/venv/Lib/site-packages/pip-21.0.1.dist-info/

*.pem

Alogorith_Ex/venv/Lib/site-packages/pip/_vendor/vendor.txt

*.db-shm

backjune/Algorithm/.vs/Algorithm/v16/

*.log
